## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [52]:
# Your code here
#sample=[k for k in range(101)]
#sample_list_1 =[i for i in sample(range(101), k=80)]
#print(sample_list_1)

sample_list_1=random.sample(range(101), 80)

#print(len(sample_list_1))

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [21]:
# Your code here
set1= set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [67]:
# Your code here
sample_list_2= [random.randint(0,100) for i in range(80)]
print(sample_list_2)
len(sample_list_2)

[55, 15, 18, 78, 62, 61, 76, 6, 3, 5, 28, 47, 8, 51, 25, 27, 22, 78, 40, 44, 12, 20, 40, 0, 15, 62, 83, 53, 68, 80, 93, 92, 69, 22, 1, 17, 1, 5, 25, 47, 92, 70, 47, 13, 23, 80, 56, 79, 98, 24, 29, 14, 66, 34, 79, 85, 74, 54, 0, 85, 51, 58, 14, 44, 99, 43, 98, 15, 96, 63, 18, 2, 15, 56, 55, 66, 93, 98, 80, 59]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [68]:
# Your code here
set2= set(sample_list_2)
print(len(set2))

52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [75]:
# Your code here
set3= set1-set2
print(set3)
len(set3)

{4, 7, 9, 10, 16, 19, 21, 30, 33, 35, 37, 39, 41, 42, 45, 46, 48, 50, 52, 57, 60, 64, 65, 71, 73, 75, 77, 81, 84, 86, 87, 88, 90, 91, 95, 97, 100}

37

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [74]:
# Your code here
set4= set2-set1
print(set4)

{96, 3, 99, 8, 76, 79, 53, 58, 93}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [73]:
# Your code here 
set5= set1.intersection(set2)
print(set5)

{0, 1, 2, 5, 6, 12, 13, 14, 15, 17, 18, 20, 22, 23, 24, 25, 27, 28, 29, 34, 40, 43, 44, 47, 51, 54, 55, 56, 59, 61, 62, 63, 66, 68, 69, 70, 74, 78, 80, 83, 85, 92, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [76]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

80
52
37
9
43

#### Create an empty set called `set6`.

In [79]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [80]:
# Your code here
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [77]:
# Your code here
lst= set1-set6
print(lst)
#if lst has no values, set1 and set6 are equal

set()

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [78]:
# Your code here
sub= set1.issubset(set2)
print(sub)


check=set1-set3
print(len(check))
#YES

False
43

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [84]:
# Your code here
agg= set3.union(set3,set4,set5)
#combined= agg.union(set5)

agg_set1_set2= set1.union(set2)

print(agg)
print(agg_set1_set2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 33, 34, 35, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 33, 34, 35, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [88]:
# Your code here
print(set1.pop())
print(set1)

2
{4, 5, 6, 7, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 27, 28, 29, 30, 33, 34, 35, 37, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 50, 51, 52, 54, 55, 56, 57, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 77, 78, 80, 81, 83, 84, 85, 86, 87, 88, 90, 91, 92, 95, 97, 98, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here
for x in